
<footer>
    <div class="container footer__container" id="footer-body">
        <div class="footer__1">
            <a href="index.html" class="footer__logo"><h4>AgriTech</h4></a>
            <p>
                Empowering farmers with innovative technology, data-driven insights, and personalized support for optimized farm management and sustainable practices.               
            </p>
        </div>
        <div class="footer__2">
            <h4>Permalinks</h4>
            <ul class="permalinks">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        
        <div class="footer__3">
            <h4>Privacy</h4>
            <ul class="privacy">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul>
        </div>
        <div class="footer__4">
            <h4>Contact Us</h4>
            <div>
                <p>+120 202 4321</p>
                <p>agritech@gmail.com</p>
            </div>
        
        <ul class="footer__socials">
            <li>
                <a href="https://facebook.com/"><i class="uil uil-facebook-f"></i></a>
            </li>
            <li>
                <a href="https://instagram.com"><i class="uil uil-instagram-alt"></i></a>
            </li>
            <li>
                <a href="ww"><i class="uil uil-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="uil uil-linkedin-alt"></i></a>
            </li>
        </ul>
    </div> 
       
    </div>
        
    <div class="footer__copyright " style="color: white;">
        <small>Copyright &copy; AgriTech</small>
    </div> 
</footer>