<% layout("layout/boilerplate")-%>
<section class="hero" class="container mx-auto" >
    <div class="hero-details container-fluid">
        <h1 style="font-weight: 700;"><p>Welcome to</p>
            AgriTech Empower !
        </h1>
        <div class="hero-text">
            Discover essential tools to boost your farming
            success with AgriTech Empower. Stay updated
            with daily weather reports, track market trends,
            and receive expert crop management tips.
        </div>
        <form id="hero-form"   action="">
            <button style="font-weight: 550;">Get Started</button>
            <!-- <button type="button" class="btn btn-war/ning">Get Started</button> -->
        </form>
    </div>
  
    <img src="images/illustration.png" alt="illustration" style="height: 24.625em; width: 29.5em; border-radius: 30px; margin-right: 2em;">


 </section>